<footer class="text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between border-bottom"></section>
  <section class="container mt-5 text-start">
      <div class="row">
        <div class="col-12 col-md-3 mb-4">
            <img 
                src="{{ asset('build/images/svg/logo.svg') }}" 
                alt="Baumpflege" 
                title="Baumpflege"
                class="me-3 pb-3"
		    />
          <p>
            <strong>Baumring:</strong> Baumpflege, Kontrollen, Pflanzungen und Fällungen
          </p>
        </div>
        <div class="col-12 col-md-3 mb-4">
            <h4 class="text-uppercase fw-bold mb-4 ms-0 ms-lg-5">Leistungen</h4>
            <p class="mb-3 ms-0 ms-lg-5"><a href="{{ path('baumpflege') }}">Baumpflege</a></p>
            <p class="mb-3 ms-0 ms-lg-5"><a href="{{ path('faellungen') }}">Fällungen</a></p>
            <p class="mb-3 ms-0 ms-lg-5"><a href="{{ path('pflanzungen') }}">Pflanzungen</a></p>
            <p class="mb-3 ms-0 ms-lg-5"><a href="{{ path('wurzelstockentfernung') }}">Wurzelstockentfernung</a></p>
            <p class="mb-3 ms-0 ms-lg-5"><a href="{{ path('baumkontrolle') }}">Baumkontrolle</a></p>
            <p class="mb-3 ms-0 ms-lg-5"><a href="{{ path('sondermassnahmen') }}">Sondermaßnahmen</a></p>
        </div>
        <div class="col-12 col-md-3 mb-4">
            <h4 class="text-uppercase fw-bold mb-4">Baumring Germering</h4>
            <p class="d-flex mb-3">
                <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="width: 22px; height: auto">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"></path>
                </svg>
                <a class="ms-3" href="tel:+498932895143">+ 49 (0) 89 - 328951 43</a>
            </p>
            <p class="d-flex align-items-start">
                <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="width: 22px; height: auto">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"></path>
                </svg>
                <span class="ms-3">Frühlingstr. 25<br> 82110 Germering</span>
            </p>
            <h4 class="text-uppercase fw-bold my-4">Baumring Allgäu</h4>
            <p class="d-flex mb-3">
                <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="width: 22px; height: auto">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"></path>
                </svg>
                <a class="ms-3" href="tel:+4982483380269">+ 49 (0) 8248 - 33802 69</a>
            </p>
            <p class="d-flex align-items-start">
                <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="width: 22px; height: auto">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"></path>
                </svg>
                <span class="ms-3">Poststr. 3<br> 86862 Lamerdingen</span>
            </p>
        </div>
        <div class="col-12 col-md-3 mb-4">
            <h4 class="text-uppercase fw-bold mb-4">Referenzen</h4>
            <p class="d-flex mb-3">
                <a target="_blank" href="https://www.instagram.com/baumring.de/"><i class="fab fa-instagram me-3"></i>Baumpflege Baumring</a>
            </p>
            
        </div>
      </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    <p class="mb-3"> <a href="impressum"><b>Impressum</b></a> | <a href="datenschutz"><b>Datenschutz</b></a> </p>
    © Copyright 2017 - {{ 'now' | date('Y') }}:
    <a class="text-reset fw-bold" href="https://baumring.de/">Baumring. Alle Rechte vorbehalten.</a>
  </div>
</footer>


{% include 'parts/cookie-disclaimer.html.twig' %}


