<h4>Weitere Leistungen</h4>
<ul>
    <li><a href="{{ path('baumpflege') }}">Baumpflege</a></li>
    <li><a href="{{ path('faellungen') }}">Fällungen</a></li>
    <li><a href="{{ path('pflanzungen') }}">Pflanzungen</a></li>
    <li><a href="{{ path('wurzelstockentfernung') }}">Wurzelstockentfernung</a></li>
    <li><a href="{{ path('baumkontrolle') }}">Baumkontrolle</a></li>
</ul>