<div class="border-end bg-white" id="sidebar-wrapper">

	<div class="sidebar-heading border-bottom bg-light">
		<img 
			src="{{ asset('build/images/svg/logo.svg') }}" 
			alt="Baumpflege" 
			title="Baumpflege"
		>
	</div>

	<div id="menu" class="list-group list-group-flush">
		<a class="list-group-item list-group-item-action list-group-item-light p-3 {% if app.request.attributes.get('_route') == 'startseite' %} active {% endif %}" href="{{ path('startseite') }}">Startseite</a>
		<a class="list-group-item list-group-item-action list-group-item-light p-3 {% if app.request.attributes.get('_route') == 'ueberuns' %} active {% endif %}" href="{{ path('ueberuns') }}">Über uns</a>
		<a class="list-group-item list-group-item-action list-group-item-light p-3 {% if app.request.attributes.get('_route') == 'hausbaumgarten' %} active {% endif %}" href="{{ path('hausbaumgarten') }}">Haus, Baum und Garten<br>private Baumbesitzer</a>
		<a class="list-group-item list-group-item-action list-group-item-light p-3 {% if app.request.attributes.get('_route') == 'hausverwaltungen' %} active {% endif %}" href="{{ path('hausverwaltungen') }}">Hausverwaltunugen<br>Wohneigentumsgemeinschaften (WEG)</a>
		<a class="list-group-item list-group-item-action list-group-item-light p-3 {% if app.request.attributes.get('_route') == 'gemeinden' %} active {% endif %}" href="{{ path('gemeinden') }}">Gemeinden, Kommunen und Städte - öffentliche Auftraggeber</a>
		<a class="list-group-item list-group-item-action list-group-item-light p-3 {% if app.request.attributes.get('_route') == 'firmengelaende' %} active {% endif %}" href="{{ path('firmengelaende') }}">Firmengelände</a>
		<h2 class="pt-3 px-3">Leistungen</h2>
		<ul>
			<li>
				<a href="{{ path('baumpflege') }}" class="{% if app.request.attributes.get('_route') == 'baumpflege' %} active {% endif %}">Baumpflege</a>
			</li>
			<li>
				<a href="{{ path('faellungen') }}" class="{% if app.request.attributes.get('_route') == 'faellungen' %} active {% endif %}">Fällungen</a>
			</li>
			<li>
				<a href="{{ path('pflanzungen') }}" class="{% if app.request.attributes.get('_route') == 'pflanzungen' %} active {% endif %}">Pflanzungen</a>
			</li>
			<li>
				<a href="{{ path('wurzelstockentfernung') }}" class="{% if app.request.attributes.get('_route') == 'wurzelstockentfernung' %} active {% endif %}">Wurzelstockentfernung</a>
			</li>
			<li>
				<a href="{{ path('baumkontrolle') }}" class="{% if app.request.attributes.get('_route') == 'baumkontrolle' %} active {% endif %}">Baumkontrolle</a>
			</li>
			<li>
				<a href="{{ path('sondermassnahmen') }}" class="{% if app.request.attributes.get('_route') == 'sondermassnahmen' %} active {% endif %}">Sondermaßnahmen</a>
			</li>
		</ul>

		<hr class="major mb-0">
		
		<a class="list-group-item list-group-item-action list-group-item-light p-3 {% if app.request.attributes.get('_route') == 'referenzen' %} active {% endif %}" href="{{ path('referenzen') }}">Referenzen</a>
		
	</div>

	<hr class="major mt-0">

	{#% include 'parts/kontakt.html.twig' %#}

	{#% include 'parts/footer.html.twig' %#}

</div>
